a {
    color: rgb(179,51,26);
}
h1 {
    color: rgb(26,179,51);
    background-color: rgb(240,240,240);
}
h2, h3 {
    color: rgb(179,153,26);
    background-color: rgb(240,240,240);
}
ol {
    color: black;
    background-color: rgb(230,179,179);
}
ul {
    background-color: rgb(179,230,179);
}
body {
    border: 3px dashed green;
}
p {
    color: rgb(102,102,102);
}