a {
    text-decoration: underline;
    color: rgb(26,179,51);
}
h1 {
    color: rgb(51,51,128);
    background-color: rgb(220,220,220);
}
h2, h3 {
    color: rgb(51,128,77);
    background-color: rgb(220,220,220);
}
ol {
    color: white;
    background-color: rgb(102,51,77);
}
ul {
    background-color: rgb(153,153,77);
}
body {
    border: 2px solid blue;
}
p {
    color: rgb(102,179,128);
}