a {
    font-weight: bold;
    color: rgb(128,77,51);
}
h1 {
    color: red;
    background-color: rgb(220,220,220);
}
h2, h3 {
    color: rgb(102,51,51);
    background-color: rgb(220,220,220);
}
ol {
    color: rgb(0,255,0);
    background-color: rgb(77,51,102);
}
ul {
    background-color: rgb(128,77,51);
}
body {
    border: 2px solid;
    background-color: yellow;
}
p {
    background-color: rgb(102,153,204);
}