nav.barra1 a{
	opacity: .80;
	background-color: #808080;
	padding: 0.5em 2em 0.5em 2em;
	margin: 1px 1px 1px 1px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: small;
	text-align: center;
	display: flex;
	flex-direction: row;
}

aside{
	width: 150px;
	border-color: red;
	border-style: solid;
	color: blue;
	background-color:yellow;
	margin-top: 20px;
}

aside a {
    background: brown;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid pink;
    text-align: center;
}

aside a em{
	font-size: 200%;
}

aside a {
    text-decoration: none; 
	color: white;
}

.barra1 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

aside {
	display: flex;
	flex-direction: column;
	flex-direction: column-reverse;

}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: yellow;
	color: blue;
	margin: red;
	border: 2px solid red;
	height: 100px;
	height: 100px;
	flex-direction: column;
}

header > nav{
	align-self: flex-start;
}