body {
    position: absolute;
    background-image: url(fondo.png);
    background-size: cover;
    z-index: 0px;
}
header{
    position: sticky;
    top: 0px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    background-color: slateblue;
    border-radius: 20px;
    margin: 50px 20px 0px 20px;
    z-index: 10;
}
.contenedor {
    position: relative;
    background-color: red;
    border-radius: 20px;
    margin: 100px 500px 800px 500px;
    z-index: -1;
    padding: 50px;
}
h2 {
    font-style: italic;
    font-size: 50px;
    color: white;
    font-weight: bold;
}
p {
    font-family: serif;
    font-size: 25px;
    color: yellow;

}
.boton1 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
}
div {
    position: fixed;
    background-color: aquamarine;
    border-radius: 20px;
    text-align: left;
    font-style: italic; 
    padding: 40px;
    top: 300px;
    left: 100px;
    bottom: 250px;
    width: 200px;
}
div h3 {
    color: blueviolet;
    font-size: 20px;
}
div p {
    color: blue;
    font-size: 12px;
}